<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    <link rel="stylesheet" href="/styles/users.css">
</head>
<body>
    <div class="container">
        <% if (users.length === 0) { %>
            <p>No users found.</p>
        <% } %>
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Registered at</th>
                <th>Last login at</th>
                <th>Is blocked</th>
                <th>Block reason</th>
            </tr>
            <% users.forEach(user => { %>
                <tr onclick="window.location.href='/admin/users/<%= user.username %>'">
                    <td><%= user.id %></td>  
                    <td><%= user.username %></td>
                    <td><%= new Date(user.registered_at).toLocaleDateString('ru-RU') %></td>
                    <td><%= user.last_login_at %></td>  
                    <td><%= user.is_blocked === 0 ? 'No' : 'Yes' %></td>
                    <td><%= user.block_reason %></td>
                </tr>
            <%  }); %>
        </table>
    </div>
</body>
</html>